{% extends 'imhigh/main.html' %}
{% load staticfiles %}
{% block 'content' %}
<div class="container text-left">
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2>Create Event
  </div>
</div>

<div class="row">
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" id="lat" value="" name="lat" >
  <input type="hidden" id="lng" value="" name="lng" >
  <div class="row col-md-5">
    <div class="row">
      <h3>
        Event Name:
      </h3>
      <input type="text" class="form-control" placeholder="Event Name" required="" autofocus="" name="eventname">
    </div>

    <div class="row">
      <h3>
        Description:
      </h3>
      <textarea class="form-control" placeholder="Some description..." name="description" required="" rows="5"></textarea>
    </div>
  

<div class="row">
      <h3>
        Place:
      </h3>
      <div id="map-canvas" style="width:450px; height:350px;"></div>
      
</div>

<div class="row">
<h3>
  Photos:
</h3>
<input type="file" class="form-control" name="photo" multiple
      title="Upload one or many photos" accept="image/*"> 
</div>
<div class="row">
  <button style="margin-top: 10px" class="btn btn-lg btn-primary btn-block" type="submit">Create Event</button>
</div>
  </div>

  <div class="row col-md-5 col-md-offset-2">
    
    <div class="row">
      <h3>
        Begin at:
      </h3>
      <input type="datetime-local" class="form-control" required="" name="begintime">
    </div>

    <div class="row">
      <h3>
        End at:
      </h3>
      <input type="datetime-local" class="form-control" required="" name="endtime">
    </div>
  

<div class="row">
      <h3>
        Price:
      </h3>
      <input type="text" class="form-control" placeholder="$" required="" name="price" >
</div>

<div class="row text-center">
<h3>
  Categories:
</h3>

<div class="col-md-4" style="color:black">
{{cat_form}}
</div>
</div>

  </div>
</form>
</div>
</div>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% load staticfiles %}
<script src={% static 'eventcreate.js' %}> </script>
{% endblock %}