{% extends "imhigh/main.html" %}
{% block 'content' %}
  

<div class="container text-left">
<div class="row col-md-12 text-center">
  <image width="600px " src={{ mainphoto }}> </image>
</div>
<div class="row">
<div class="row col-md-5">
  <p><h3>{{event.event_name}}</h4></p>
  <p id="adress"></p>
  <form hidden>
    <input type="hidden" id="lat" name="lat" value={{lat}}>
      <input type="hidden" id="lng" name="lng" value={{lng}}>
  </form>
  <h3><p>Description: </h3>
  {{event.event_description}}
  <h3><p>Photos: </h3>
  

</div>
<div class="row col-md-5 col-md-offset-2">
  <p> <h3>Begin:</h3></p>
  {{event.event_begintime}}
  <p><h3>End:</h3></p>
  {{event.event_endtime}}
  <p><h3>Event maker:</h3></p>
  <h4><a href={% url 'personal_page' organizator.username %}>{{ organizator.username}}</a> - {{organizator.user_avgrate}}</h4>
  <p><h3>Categories:</h3></p>
  {{categories|default:"This event has no categories"}}
  <p><h3>Price:</h3></p>
  {{price}}
  <form action="" method="post">
    {% csrf_token  %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">I am in</button>
  </form>
</div>
</div>
<div class="container col-md-6" style="background-color:white; float: left ">
        <div class="row">
            <div class="col-md-12">
              <ul class="horizontal-slide">
                
                {% if photos %}
    
    {% for photo in photos %}
        <li class="col-md-3"><img width="240" class="thumbnail" src={{photo.photo.url}}/></li>
    {% endfor %}
   
              </ul>
    {% else %}
    <p>No photos for this event</p>
    {% endif %}
          </div>
        </div>
    </div>
</div>
</div>
</div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% load staticfiles %}
<script src={% static "eventpage.js" %}></script>
{% endblock 'content' %}