{% extends "imhigh/main.html" %}
{% block 'content' %}
  

<h2>Search Event</h2>
<div class="container">
  <div class="container col-md-6">
    <div class="container col-md-6">
      <h3>Dates: </h3>
      <form action="" method="post" name="find" class="center-block">
      <div class="row">
      <input type="datetime-local" class="form-control" required="" name="begintime">
      <input type="datetime-local" class="form-control" required="" name="endtime">
      
      </div>
      <h3>
  Categories:
</h3>

{{cat_form}}
    </div>
  </div>
  <div class="container col-md-6">
      <div id="map-canvas" style="width:450px; height:350px;">
        
      </div>
      
    {% csrf_token  %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Search in this area</button>
  
      <input type="hidden" id="lat" name="lat" value="60">
      <input type="hidden" id="lng" name="lng" value="105">
      <input type="hidden" id="zm" name="zm" value="14">
  </form>
  </div>
</div>
<div class="row">
<div id="small-img" class="col-md-6 center">
  <ul>
  {% if events %}
    
    {% for event in events %}
    <div>
    <li><h4><a href={% url 'event_page' event.id  %}>{{event.event_name}}</a></h4></li>
    </div>
    {% endfor %}
   
     </ul>         
    {% else %}
    <p>No events are available.</p>
    {% endif %}           
</div>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% load staticfiles %}
<script src={% static "searchevent.js" %}></script>
<style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .row li {
  width: 33.3%;
  float: left;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
    </style>
    {% endblock 'content' %}