{% extends "imhigh/main.html" %}
{% block 'content' %}
  <div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">

      <form class="form-signin" action="loginpage/" method="post">
      {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{form}}
        <label><a href={% url 'signup' %}> Sign Up </a></label>
        {% if login_error %}
        <div>
          <label class="error">{{ login_error }}</label>
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
    </div>
    </div>
{% endblock 'content' %}