<!DOCTYPE html>
<html lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<title>
  
   {{page_name}}
  
</title>

<!-- Bootstrap core CSS -->

<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}
</style>

<!-- Documentation extras -->

<link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">

  
  <body class="bs-docs-home" data-twttr-rendered="true">
    <a id="skippy" class="sr-only sr-only-focusable" href="http://getbootstrap.com/#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">I`m High</a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href= {%url 'personal_page' user.username %}>My page</a>
        </li>
        <li>
          <a href={% url 'findevent' %}>Search Events</a>
        </li>
        <li>
          <a href={% url 'eventcreate' %}>Create Event</a>
        </li>
        <li>
          <a href={{urltext}}>{{label}}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
      {% block 'content' %} {% endblock %}
    </main>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>