{% extends "imhigh/main.html" %}
{% block 'content' %}
  <div class="container text-left">
<div class="row">

  <div class="col-md-4 col-md-offset-4 text-center">
    <h2>Profile
  </div>

</div>
<div class="row">

  <div class="col-md-3">
    <h3>{{user.get_full_name}}
  </div>

</div>

<div class="row">

  <div class="col-md-3">
    <h4>Organized events:
  </div>

</div>
<div class="row" >

  <div class="col-md-3" style="border: 1px #e4e4e4 solid; border-radius: 25px;background-color: white;">
    
{% if org_events_list %}
    <ul>
    {% for event in org_events_list %}
        <li><h5><a href={% url 'event_page' event.id %}>{{ event.event_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are organized.</p>
{% endif %}
  </div>

</div>

<div class="row">
  <div class="col-md-3">
    <h4>Participated events:
  </div>
</div>

<div class="row">

    <div class="col-md-3" style="border: 1px #e4e4e4 solid; border-radius: 25px;background-color: white;">
    
{% if part_events_list %}
    <ul>
    {% for pevent in part_events_list %}
        <li><h5><a href={% url 'event_page' pevent.id %}>{{ pevent.event_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are participated.</p>
{% endif %}
  </div>

</div>

<div class="row">

  <div class="col-md-1">
  <h4> Rating:
  </div>

  <div class="col-md-2">
    {% if user.user_avgrate > 0 %}
      <h4>{{user.user_avgrate}}
    {% else %}
    <h4>User doesn`t rated
{% endif %}
  </div>
</div>

<div class="row">
  <form action="" method="post">
    {% csrf_token  %}
    <b>Input your feedback:</b>
    <p><textarea rows="5" cols="45" name="text" style="color:black;"></textarea></p>
    <p> Select mark for this user
    <p>
    <select name="mark" style="color:black;">
      <option selected value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    </p>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
  </form>
</div>
{% if feedbacks %}
    
    {% for feedback in feedbacks %}
    <div class="row col-md-7" style="border: 1px #e4e4e4 solid; border-radius: 25px; margin-bottom: 5px;
    margin-top: 5px; background-color: white; color:black;">
        <div class="row">
          <div class="col-md-2"> 
            <h4><a href={% url 'personal_page' feedback.feedler %} > {{feedback.feedler}}</a>
          </div>
          <div class="col-md-1">
            {{feedback.feedback_mark}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p> {{feedback.feedback_text}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"> {{feedback.time}} </div>
        </div>
      </div>
    {% endfor %}

{% else %}
    <div class="row">
    <h3 class="col-md-4" >This user has no feedbacks
    </div>
{% endif %}
</div>
{% endblock 'content' %}