{% extends "imhigh/main.html" %}
{% block 'content' %}
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
  
  <form class="form-horizontal" action="signup/" method="post">
  
    <div id="legend">
      <legend >Register</legend>
    </div>
    
    <div class="control-group">
      <div class="controls">
        {% csrf_token %}
      </div>
    </div>
    <div class="control-group">
      <!-- Username -->
      {{form}}
        {% if login_error %}
        <div>
          <label class="error">{{ login_error }}</label>
        </div>
        {% endif %}

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" type="submit" onclick="return validateForm()">Register</button>
      </div>
    </div>
  
</form>

    </div>
    </div>
    </div>
{% load staticfiles %}
<script src={% static "createuser.js" %}></script>
{% endblock 'content' %}